{% extends 'base.html.twig' %}

{% block title %}{{  parent() }}{{ 'home.index.title' | trans }}{% endblock %}

{% block body %}





    <div>
        <ul>
            {% for row in array %}
            <li> {{ row }} </li>
            {% endfor %}
        </ul>
        
    </div>


{% endblock %}
