{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}


<div>
    <h1>{{ 'article.edit.h1' | trans }}</h1>

    <div class="formEdit">

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="buttonSubmit" type="submit" value="Edit">
        {{ form_end(form) }}

    </div>

</div>


{% endblock %}
