{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

<h1>Articles</h1>

    <section class="newsFeed">

    {% for article in articles %}

    <article>

        <h2>{{ article.title }}</h2>


        <p>({{ article.createdAt | date('d/m/Y')}}) {{ article.content }}</p>

    </article>

    {% endfor %}

    </section>

{% endblock %}
